@inherits LayoutComponentBase

<div class="main-layout">
    <header class="custom-header">
        <div class="header-left">
            <!-- Coloque logo, ou título se quiser -->
        </div>
        <div class="header-right">
            <div class="email">rubens.fiore@oneidsecure.com</div>
            <div class="account-id">Conta: <span>ONE-01K02V...</span></div>
        </div>
    </header>

    <main class="main-content">
        @Body
    </main>
</div>

<div id="blazor-error-ui">
    An unhandled error has occurred.
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
</div>
