<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <base href="/" />

    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap" rel="stylesheet" />

    <link rel="stylesheet" href="css/active-users.css" />
    <link rel="stylesheet" href="css/dashboard.css" />
    <link rel="stylesheet" href="css/landing.css" />
    <link rel="stylesheet" href="OneID.WebApp.styles.css" />

    <HeadOutlet />
</head>
<body>
    <Routes />
    <script src="js/refresh-helper.js"></script>
    <script src="js/resize.js"></script>
    <script src="js/utils.js"></script>
    <script src="_framework/blazor.web.js"></script>
</body>
</html>
