<div class="form-row">
    <label>@Label</label>
    <InputDate class="input" @bind-Value="Value" />
</div>

@code {
    [Parameter] public string Label { get; set; } = string.Empty;
    [Parameter] public DateTime? Value { get; set; }
    [Parameter] public EventCallback<DateTime?> ValueChanged { get; set; }

    private DateTime? internalValue
    {
        get => Value;
        set => ValueChanged.InvokeAsync(value);
    }
}
